{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>政大棒球聯盟 NCBA - 活動專區</title>
{% endblock %}

{% block content %}
<fieldset class='field'>
	<legend class='fieldset_title'>活動專區</legend>

	<div class='index'>
		{% if eventid == None %}

		{% if count == 0 %}
		<p>目前沒有活動</p>
		{% else %}
		{% for event in events %}
		<div class='activity item'>
			<a href='/activity/{{event.id}}/'>活動名稱：{{ event.title }}</a>
		</div>
		{% endfor %}
		{% endif %}

		{% else %}

		<div class='event detail'>
			<p class='title'>{{ event.title }}</p>
			<div class='description'>
				{{ event.description | linebreaks }}

				<p><strong>活動日期：{{ event.startDate }} ~ {{ event.endDate }}</strong></p>
			</div>
		</div>

		<div class='option detail'>
			{% if status != 'processing' %}

			{% if permit == False %}
			<p class='email'><strong>此活動僅限相關人員參與</strong></p>
			{% endif %}

			{% for item in items %}
			<div class='item'>
				<div class='title'>
					{{ item.title }}
				</div>

				{% if event.public or request.user.username == 'ncba' %}
				<div class='status'>
					<p>得票數：{{ item.votes }}</p>
					<p>得票率：{{ item.percent | floatformat:2 }}%</p>
				</div>
				{% endif %}

				<div class='description'>
					{{ item.description | linebreaks }}
				</div>
			</div>
			{% endfor %}

			{% else %}

			<form action='.' method='POST'>
				{% csrf_token %}

				{% if permit %}
				<p class='email'>電子郵件信箱：<input name='email' type='email' required></p>
				{% else %}
				<p class='email'><strong>此活動僅限相關人員參與</strong></p>
				{% endif %}

				{% if event.eventSelection %}

				{% for item in items %}
				<div class='item'>
					<div class='title'>
						<input name='option' type='checkbox' value='{{item.id}}'>{{ item.title }}
					</div>

					<div class='description'>
						{{ item.description | linebreaks }}
					</div>
				</div>
				{% endfor %}

				{% elif event.eventChoice %}

				{% for item in items %}
				<div class='item'>
					<div class='title'>
						<input name='option' type='radio' value='{{item.id}}'>{{ item.title }}
					</div>

					<div class='description'>
						{{ item.description | linebreaks }}
					</div>
				</div>
				{% endfor %}
				
				{% endif %}

				{% if permit %}
				<p><input type="submit"></p>
				{% endif %}
			</form>
		</div>

		{% endif %}

		{% endif %}
	</div>
</fieldset>
{% endblock %}
