{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>政大棒球聯盟 NCBA - 會員登入</title>
{% endblock %}

{% block content %}
<fieldset class='field'>
	<legend class='fieldset_title'>會員登入</legend>

	<form action='.' method="POST">
		{% csrf_token %}
		<table class='loginPage'>
			<tr>
				<td>帳　　號：</td>
				<td><input name='username' required></td>
			</tr>
			<tr>
				<td>密　　碼：</td>
				<td><input name='password' type='password' required></td>
			</tr>
			<tr>
				<td colspan=2>
					<input type='reset'>
					<input type='submit'>

					{{ message }}
				</td>
			</tr>
		</table>
	</form>
</fieldset>
{% endblock %}
