{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>政大棒球聯盟 NCBA - 會員操作選項</title>
{% endblock %}

{% block content %}
<fieldset class='field'>
	<legend class='fieldset_title'>請選擇操作項目</legend>

	<div class='optionPage'>

	{% if request.user.is_authenticated %}

    {% if 'auth.member' in request.user.get_all_permissions %}
	<p><a href='/teamadd/110/'>球隊登錄</a></p>
	<p><a href='/playeradd/110/'>球員登錄</a></p>
	<p><a href='/gameadd/110/'>賽程管理</a></p>
	<p><a href='/lineuplist/110/'>先發名單</a></p>
	<p><a href='/boxadd/110/'>比賽數據管理</a></p>
	<p><a href='/data/'>數據下載</a></p>
	<p><a href='/album/110/'>相簿連結</a></p>
	<p><a href='/allnews/'>文章管理</a></p>
	<p><a href='/allevents/'>活動管理</a></p>
    {% else %}
    <p>很抱歉！網頁發生錯誤！<a href='/index/' style='text-decoration: underline; font-weight: bold;'>請點此</a>返回首頁！</p>
    {% endif %}

	{% else %}
	尚未登入！請先登入再進行操作！
	{% endif %}

	</div>
</fieldset>
{% endblock %}
