{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>政大棒球聯盟 NCBA - {{ player.name }}</title>
{% endblock %}

{% block content %}
<fieldset class='field'>
	<legend class='fieldset_title'>{{ player.name }}</legend>

	<div class='index'>
		<div class='player detail'>
			<table class='player'>
				<tr>
					<th>球隊</td>
					<th>背號</th>
					<th>系級</th>
					<th>學號</th>
					<th>投打</th>
				</tr>
				<tr>
					<td>{{ player.team }}</td>
					<td>{{ player.number }}</td>
					<td>{{ player.dept }}</td>
					<td>{{ player.studentID }}</td>
					<td>{{ player.bt }}</td>
				</tr>
			</table>
		</div>
		{% if hitter != None %}
		<div class='player detail'>
			<p class='title'>打擊數據</p>

			<table class='hitter'>
				<tr>
					<th>打席</td>
					<th>打數</th>
					<th>打點</th>
					<th>得分</th>
					<th>安打</td>
					<th>二壘安打</th>
					<th>三壘安打</th>
					<th>全壘打</th>
					<th>壘打數</td>
					<th>雙殺打</th>
					<th>犧牲短打</th>
					<th>犧牲飛球</th>
					<th>四死球</td>
					<th>三振</th>
					<th>盜壘成功</th>
					<th>盜壘失敗</th>
					<th>殘壘</th>
					<th>打擊率</th>
					<th>上壘率</th>
					<th>長打率</th>
				</tr>
				<tr>
					<td>{{ hitter.PA }}</td>
					<td>{{ hitter.AB }}</td>
					<td>{{ hitter.RBI }}</td>
					<td>{{ hitter.R }}</td>
					<td>{{ hitter.H }}</td>
					<td>{{ hitter.TwoBH }}</td>
					<td>{{ hitter.ThreeBH }}</td>
					<td>{{ hitter.HR }}</td>
					<td>{{ hitter.TB }}</td>
					<td>{{ hitter.DP }}</td>
					<td>{{ hitter.SH }}</td>
					<td>{{ hitter.SF }}</td>
					<td>{{ hitter.Walks }}</td>
					<td>{{ hitter.SO }}</td>
					<td>{{ hitter.SB }}</td>
					<td>{{ hitter.CS }}</td>
					<td>{{ hitter.LOB }}</td>
					<td>{{ hitter.AVG | floatformat:3 }}</td>
					<td>{{ hitter.OBP | floatformat:3 }}</td>
					<td>{{ hitter.SLG | floatformat:3 }}</td>
				</tr>
			</table>
		</div>
		{% endif %}
		{% if pitcher != None %}
		<div class='player detail'>
			<p class='title'>投球數據</p>

			<table class='pitcher'>
				<tr>
					<th>勝</td>
					<th>敗</th>
					<th>中繼成功</th>
					<th>救援成功</th>
					<th>救援失敗</td>
					<th>局數</th>
					<th>面對打席</th>
					<th>面對打數</th>
					<th>投球數</td>
					<th>完投</th>
					<th>完封</th>
					<th>無四死</th>
					<th>被安打</td>
					<th>被全壘打</th>
					<th>犧牲短打</th>
					<th>犧牲飛球</th>
					<th>四壞球</th>
					<th>敬遠</th>
					<th>觸身球</th>
					<th>奪三振</th>
					<th>暴投</td>
					<th>犯規</th>
					<th>失分</th>
					<th>責失分</th>
					<th>防禦率</th>
					<th>WHIP</th>
					<th>被打擊率</th>
					<th>被上壘率</th>
				</tr>
				<tr>
					<td>{{ pitcher.W }}</td>
					<td>{{ pitcher.L }}</td>
					<td>{{ pitcher.HO }}</td>
					<td>{{ pitcher.S }}</td>
					<td>{{ pitcher.BS }}</td>
					<td>
						{% widthratio pitcher.inn3 3 1 %}
						{% if pitcher.inn3|divisibleby:3 %}
						0/3
						{% elif inn1|divisibleby:3 %}
						2/3
						{% elif inn2|divisibleby:3 %}
						1/3
						{% endif %}
					</td>
					<td>{{ pitcher.TPAF }}</td>
					<td>{{ pitcher.TBF }}</td>
					<td>{{ pitcher.P }}</td>
					<td>{{ pitcher.CG }}</td>
					<td>{{ pitcher.SHO }}</td>
					<td>{{ pitcher.no_walks }}</td>
					<td>{{ pitcher.H }}</td>
					<td>{{ pitcher.HR }}</td>
					<td>{{ pitcher.SH }}</td>
					<td>{{ pitcher.SF }}</td>
					<td>{{ pitcher.BB }}</td>
					<td>{{ pitcher.IBB }}</td>
					<td>{{ pitcher.DB }}</td>
					<td>{{ pitcher.K }}</td>
					<td>{{ pitcher.WP }}</td>
					<td>{{ pitcher.BK }}</td>
					<td>{{ pitcher.R }}</td>
					<td>{{ pitcher.ER }}</td>
					<td>{{ pitcher.ERA | floatformat:2 }}</td>
					<td>{{ pitcher.WHIP | floatformat:2 }}</td>
					<td>{{ pitcher.AVG | floatformat:3 }}</td>
					<td>{{ pitcher.OBA | floatformat:3 }}</td>
				</tr>
			</table>
		</div>
		{% endif %}
		{% if fielders != None %}
		<div class='player detail'>
			<p class='title'>守備數據</p>

			<table class='fielder'>
				<tr>
					<th>守備位置</td>
					<th>刺殺</th>
					<th>助殺</th>
					<th>失誤</th>
					<th>雙殺參與</th>
					<th>守備率</th>
				</tr>
				{% for fielder in fielders %}
				<tr>
					<td>{{ fielder.pos }}</td>
					<td>{{ fielder.PO }}</td>
					<td>{{ fielder.A }}</td>
					<td>{{ fielder.E }}</td>
					<td>{{ fielder.DP }}</td>
					<td>{{ fielder.FLD | floatformat:3 }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		{% endif %}
		{% if catcher != None %}
		<div class='player detail'>
			<p class='title'>蹲捕數據</p>

			<table class='catcher'>
				<tr>
					<th>捕逸</td>
					<th>妨礙打擊</th>
					<th>被盜壘</th>
					<th>盜壘阻殺</th>
					<th>阻殺率</th>
				</tr>
				<tr>
					<td>{{ catcher.PB }}</td>
					<td>{{ catcher.interference }}</td>
					<td>{{ catcher.stolen }}</td>
					<td>{{ catcher.CS }}</td>
					<td>{{ catcher.CSP | floatformat:3 }}</td>
				</tr>
			</table>
		</div>
		{% endif %}
	</div>
</fieldset>
{% endblock %}
